html {
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Goudy Bookletter 1911", sans-serif;
  color: #53346D;
}
.testfeedsection {
  height: 100vh;
  /*background-color: #43C6AC;*/
}

  .input {
    width: 370px;
    height: 900px;
    margin-right: 10px;
    float: left;
    border-right: solid;
    border-color: #FFFFFF;
    border-width: 1px;
  }
.output {
    position: relative;
    float: left;
    height:100vh;
    top:-7px;
    width:880px;
    margin-left: 0px;
    border-left: solid;
    left:-11px;
    border-color: #FFFFFF;
    border-width: 1px;
}


#testfeedTitle {
  position: relative;
  left:11px;
  top:10px;
  color: #182848;
  font-family:Arial;
  text-align: center;
}

 pre {
   font-size: 1.6em;
   color:#DBD5A4;
 }



     #copyButton {
  background-color:#d53369;
  /*-moz-border-radius:18px;
  -webkit-border-radius:18px;*/
  position: relative;
  left: 310px;
  top:-5px;
  border-radius:18px;
  border:1px solid #d53369;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:10px;
  padding:6px 11px;
  text-decoration:inherit;
  text-shadow:0px 1px 0px #d53369;
}

#addCapability {
  background-color:#d53369;
  /*-moz-border-radius:18px;
  -webkit-border-radius:18px;*/
  position: relative;
  top:5px;
  left: 5px;
  border-radius:18px;
  border:1px solid #d53369;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:10px;
  padding:6px 11px;
  text-decoration:none;
  text-shadow:0px 1px 0px #d53369;
}

#resetButton {
background-color:#859398;
/*-moz-border-radius:18px;
-webkit-border-radius:18px;*/
position: relative;
left: 320px;
top:-5px;
border-radius:18px;
border:1px solid #859398;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:10px;
padding:6px 11px;
text-decoration:none;
text-shadow:0px 1px 0px #859398;
}

hr {
  background-color: pink !important;
  color: pink !important;
}


.underline {
top:200px;
}

.table-scroll thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-scroll tbody {
    max-height: 250px;
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
}
