<div>
  <p>

  </p>
<label class="testFeedHeader" ng-show="testFeed4Header">TestFeed4<button id="expandButton" ng-click="toogleTFFour()">{{showOrHideTF4}}</button><button id="removeButton" ng-click="removeTFFour()">x</button></label>
  <hr ng-show="testFeed4Header"/>
  <div class = "testfeed4" ng-show="tfFour">
  <label>Belongs To <input type="text" ng-model="testfeedFour.belongsTo"></label><br/>
  <label>Native App</label>
<label><input type="radio" name="response" data-ng-model="testfeedFour.nativeApp" data-ng-value="true" ng-click="uncheck($event)"/>yes</label> <input type="radio" name="response" data-ng-model="testfeedFour.nativeApp" data-ng-value="false" ng-click="uncheck($event)"/>no</label><br/>
<label>Runs On </label>
<select name="singleSelect" id="singleSelect" ng-model="testfeedFour.runsOn">
<option value="any">any</option>
<option value="emulator">emulator</option>
<option value="simulator">simulator</option>
<option value="device">device</option>
</select><br>
<label>Application Folder Name <input type="text" ng-model="testfeedFour.appDir"></label><br />
<h5>Optimus Desired Capabilities</h5>
<hr />
<h5>Appium Server Capabilities</h6>
<hr />
<label>App Name <input type="text" ng-model="testfeedFour.appiumCaps['app']"></label><br/>
<label>Platform Type </label>
<select name="platformType" id="platformType" ng-model="testfeedFour.appiumCaps['platform']">
<option value="android">Android</option>
<option value="ios">Ios</option>
</select>
<br>

<div id="otherAppiumCapabilities">
<hr />
<h5>Other Appium Capabilities</h5>
<hr />
<div ng-controller="AppiumCapabilitiesController">
<table class="table-scroll">
  <thead>
      <tr>
        <th>
          Capability
        </th>
        <th>
          Value
        </th>
      </tr>
  </thead>
  <tbody>
    <div class="tablescroll">
      <tr ng-repeat="appiumCapability in appiumCapabilities">
        <td>
          <select ng-init="appiumCapability.option=appiumCapability.capability" ng-disabled='testfeedFour.appiumCaps[appiumCapability.option]' ng-model="appiumCapability.option" ng-options="cap for cap in appiumCapabilityOptions"></select>
        </td>
        <td>
          <input type="text" ng-model="testfeedFour.appiumCaps[appiumCapability.option]"/>
        </td>
      </tr>
    </div>
  </tbody>
</table>
<div>
</div>
<button id="addCapability" ng-click="addCapability()">Add Capability</button>
</div>
</div>

<div id="androidOnlyCapabilities" ng-if="testfeedFour.appiumCaps.platform == 'android'">
<hr />
<h5>Mandatory Android Only Capabilities</h5>
<hr />
<label>App Package <input type="text" ng-model="testfeedFour.caps['appPackage']"></label><br/>
<br/>
<label>App Activity <input type="text" ng-model="testfeedFour.caps['appActivity']"></label><br/>
<hr />
<h5>Optional Android Only Capabilities</h5>
<hr />
<div ng-controller="AndroidCapabilitiesController">
<table class="table-scroll">
  <thead>
      <tr>
        <th>
          Capability
        </th>
        <th>
          Value
        </th>
      </tr>
  </thead>
  <tbody>
    <div class="tablescroll">
      <tr ng-repeat="androidCapability in androidCapabilities">
        <td>
          <select ng-init="androidCapability.option=androidCapability.capability" ng-disabled='testfeedFour.caps[androidCapability.option]' ng-model="androidCapability.option" ng-options="cap for cap in androidCapabilityOptions"></select>
        </td>
        <td>
          <input type="text" ng-model="testfeedFour.caps[androidCapability.option]" ng-init="androidCapability.value=abc"/>
        </td>
      </tr>
    </div>
  </tbody>
</table>
<div>
</div>
<button id="addCapability" ng-click="addCapability()">Add Capability</button>
</div>
</div>
<div id="iosOnlyCapabilities" ng-if="testfeedFour.appiumCaps.platform == 'ios'">
<hr />
<h5>Mandatory Ios Only Capabilities</h5>
<hr />
<label>App Package <input type="text" ng-model="testfeedFour.caps['appPackage']"></label><br/>
<hr />
<h5>Optional Ios Only Capabilities</h5>
<hr />
<div ng-controller="IOSCapabilitiesController">
<table class="table-scroll">
<thead>
    <tr>
      <th>
        Capability
      </th>
      <th>
        Value
      </th>
    </tr>
</thead>
<tbody>
  <div class="tablescroll">
    <tr ng-repeat="iosCapability in iosCapabilities">
      <td>
        <select ng-init="iosCapability.option=iosCapability.capability" ng-disabled='testfeedFour.caps[iosCapability.option]' ng-model="iosCapability.option" ng-options="cap for cap in iosCapabilityOptions"></select>
      </td>
      <td>
        <input type="text" ng-model="testfeedFour.caps[iosCapability.option]" ng-init="iosCapability.value=abc"/>
      </td>
    </tr>
  </div>
</tbody>
</table>
<div>
</div>
<button id="addCapability" ng-click="addCapability()">Add Capability</button>
</div>
</div>
</div>
</div>
