<!doctype html>
<html ng-app="testfeedApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script type=”text/javascript” src=”bower_components/ng-device-detector/ng-device-detector.min.js”></script>
    <script type=”text/javascript” src=”bower_components/re-tree/re-tree.min.js”></script>
    <script src="/deps/ngclipboard.js"></script>
    <script type='text/javascript' src="app.js"></script>
    <script src="/controllers/formcontroller.js"></script>
    <script src="/controllers/androidCapabilitiesController.js"></script>
    <script src="/controllers/iosCapabilitiesController.js"></script>
      <script src="/controllers/appiumCapabilitiesController.js"></script>
    <link rel="stylesheet" href="/deps/optimus.css">
  </head>
  <body ng-controller="TestFeedDisplay">
    <section class="testfeedsection">
      <div class="input" ng-model="testfeedForm">
      <form novalidate class="simple-form">
        <h4 id="testfeedTitle">Test Feed Details</h4>
        <hr>
        <label>Belongs To <input type="text" ng-model="testfeed.belongsTo"></label><br/>
        <label>Native App</label>
    <label><input type="radio" name="response" data-ng-model="testfeed.nativeApp" data-ng-value="true" ng-click="uncheck($event)"/>yes</label> <input type="radio" name="response" data-ng-model="testfeed.nativeApp" data-ng-value="false" ng-click="uncheck($event)"/>no</label><br/>
    <label>Runs On </label>
    <select name="singleSelect" id="singleSelect" ng-model="testfeed.runsOn">
      <option value="any">any</option>
      <option value="emulator">emulator</option>
      <option value="simulator">simulator</option>
      <option value="device">device</option>
    </select><br>
    <label>Application Folder Name <input type="text" ng-model="testfeed.appDir"></label><br />
    <h5>Optimus Desired Capabilities</h5>
    <hr />
    <h5>Appium Server Capabilities</h6>
    <hr />
    <label>App Name <input type="text" ng-model="appiumCaps['app']"></label><br/>
    <label>Platform Type </label>
    <select name="platformType" id="platformType" ng-model="appiumCaps['platform']">
      <option value="android">Android</option>
      <option value="ios">Ios</option>
    </select>
    <br>

    <div id="otherAppiumCapabilities">
      <hr />
      <h5>Other Appium Capabilities</h5>
      <hr />
      <div ng-controller="AppiumCapabilitiesController">
      <table class="table-scroll">
        <thead>
            <tr>
              <th>
                Capability
              </th>
              <th>
                Value
              </th>
            </tr>
        </thead>
        <tbody>
          <div class="tablescroll">
            <tr ng-repeat="appiumCapability in appiumCapabilities">
              <td>
                <select ng-init="appiumCapability.option=appiumCapability.capability" ng-disabled='caps[appiumCapability.option]' ng-model="appiumCapability.option" ng-options="cap for cap in appiumCapabilityOptions"></select>
              </td>
              <td>
                <input type="text" ng-model="appiumCaps[appiumCapability.option]"/>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
      <div>
      </div>
      <button id="addCapability" ng-click="addCapability()">Add Capability</button>
    </div>
    </div>

    <div id="androidOnlyCapabilities" ng-if="appiumCaps.platform == 'android'">
      <hr />
      <h5>Mandatory Android Only Capabilities</h5>
      <hr />
      <label>App Package <input type="text" ng-model="caps['appPackage']"></label><br/>
      <br/>
      <label>App Activity <input type="text" ng-model="caps['appActivity']"></label><br/>
      <hr />
      <h5>Optional Android Only Capabilities</h5>
      <hr />
      <div ng-controller="AndroidCapabilitiesController">
      <table class="table-scroll">
        <thead>
            <tr>
              <th>
                Capability
              </th>
              <th>
                Value
              </th>
            </tr>
        </thead>
        <tbody>
          <div class="tablescroll">
            <tr ng-repeat="androidCapability in androidCapabilities">
              <td>
                <select ng-init="androidCapability.option=androidCapability.capability" ng-disabled='caps[androidCapability.option]' ng-model="androidCapability.option" ng-options="cap for cap in androidCapabilityOptions"></select>
              </td>
              <td>
                <input type="text" ng-model="caps[androidCapability.option]" ng-init="androidCapability.value=abc"/>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
      <div>
      </div>
      <button id="addCapability" ng-click="addCapability()">Add Capability</button>
    </div>
    </div>
  <div id="iosOnlyCapabilities" ng-if="appiumCaps.platform == 'ios'">
    <hr />
    <h5>Mandatory Ios Only Capabilities</h5>
    <hr />
    <label>App Package <input type="text" ng-model="caps['appPackage']"></label><br/>
    <hr />
    <h5>Optional Ios Only Capabilities</h5>
    <hr />
    <div ng-controller="IOSCapabilitiesController">
    <table class="table-scroll">
      <thead>
          <tr>
            <th>
              Capability
            </th>
            <th>
              Value
            </th>
          </tr>
      </thead>
      <tbody>
        <div class="tablescroll">
          <tr ng-repeat="iosCapability in iosCapabilities">
            <td>
              <select ng-init="iosCapability.option=iosCapability.capability" ng-disabled='caps[iosCapability.option]' ng-model="iosCapability.option" ng-options="cap for cap in iosCapabilityOptions"></select>
            </td>
            <td>
              <input type="text" ng-model="caps[iosCapability.option]" ng-init="iosCapability.value=abc"/>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
    <div>
    </div>
    <button id="addCapability" ng-click="addCapability()">Add Capability</button>
  </div>
  </div>
</form>
</div>
  <div class="output">
    <h4 id="testfeedTitle">  Your Test Feed <button id="copyButton" ngclipboard data-clipboard-target="#testfeedData">Copy</button><button id="resetButton" ng-click="reset()">Reset</button></h4>
    <hr />
  <pre id="testfeedData">
    {
        "executionDetails": {
          "appium_js_path": "/usr/local/bin/appium",
          "appium_node_path": "/usr/local/bin/node"
         },
         "testFeed":[
         {
           <label>"belongsTo":{{testfeed.belongsTo | json : 4}},</label>
           <label>"nativeApp":{{testfeed.nativeApp | json : 4}},</label>
           <label>"runsOn":{{testfeed.runsOn | json : 4}},</label>
           <label>"appDir":{{testfeed.appDir | json : 4}},</label>
           <label>"optimusDesiredCapabilities": {</label>
             <label>"appiumServerCapabilities":{{appiumCaps | json}},</label>
             <div id="platform" ng-if="appiumCaps.platform == 'android'">
               <label>"androidOnlyCapabilities": {{caps | json}}</label>
             </div>
             <div id="platform" ng-if="appiumCaps.platform == 'ios'">
               <label>"iosOnlyCapabilities":{{caps | json}}</label>
             </div>
              }
           }
         ]
    }
  </pre>
</div>
    </section>
  </body>
</html>
